h1 {
  color: blue;
  float: left;
}

nav ul li {
  display: inline;
  float: right;
  font-size: 1.4em;
  color: blue;
  margin-left: 40px;
}

body {
  background: #222;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background: #00FF7F;
}

.one {
  width: 350px;
  height: 200px;
  margin: 0 auto
}

p {
  color: #FFD700;
}
