.line2 {
  color: blue;
  float: left;
  text-align: center;
}

nav ul li {
  display: inline;
  float: right;
  font-size: 1.4em;
  color: blue;

}

body {
  background: #FFE4B5	;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background: #00FF7F;
}
